.teaser {
  &-wrapper {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 1.75rem;
    line-height: 1.2;
  }
  &__text {
    color: #404042;
    font-weight: 300;
    padding-top: 0.75rem;
  }
}