.box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 30px 15px;
  position: relative;
  text-align: center;
  &__body {
    z-index: 1;
  }
  &__label {
    background-color: #fff;
    border-radius: 10px;
    color: #593F92;
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__subtitle {
    color: #444;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.4;
  }
  &__icon {
    margin-top: 10px;
  }
  &__image {
    position: absolute;
    bottom: 0;
    z-index: 0;
    img {
      max-width: 150px;
      @media (min-width: 768px) {
        max-width: 200px;
      }
    }
  }
  &--medium-purple {
    background-color: #eec2ff;
  }
  &--light-yellow {
    background-color: #fef4da;
  }
  &--light-blue {
    background-color: #d5f5ff;
  }
  &--light-orange {
    background-color: #fff1e6;
  }
  &--light-purple {
    background-color: #fbf4ff;
  }
  &--light-grey {
    background-color: #faf9f7;
  }
}

.grid {
  &-one {
    grid-area: one;
  }
  &-two {
    grid-area: two;
  }
  &-three {
    grid-area: three;
    .box__subtitle {
      font-size: 1.125rem;
    }
  }
  &-four {
    grid-area: four;
    justify-content: flex-start;
  }
  &-five {
    grid-area: five;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &-six {
    grid-area: six;
  }
}

@media (min-width: 768px) {
  .box {
    margin-bottom: 0;
  }
}