.box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
  text-align: center;
  &__body {
    z-index: 1;
  }
  &__label {
    background-color: #fff;
    border-radius: 10px;
    color: #593F92;
    font-weight: 500;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__subtitle {
    color: #444;
    line-height: 1.4;
  }
  &__icon {
    margin-top: 10px;
  }
  &__image {
    margin-top: 20px;
    max-width: 100px;
    position: absolute;
    bottom: 0;
    z-index: 0;
  }
  &--medium-purple {
    background-color: #eec2ff;
  }
  &--light-yellow {
    background-color: #fef4da;
  }
  &--light-blue {
    background-color: #d5f5ff;
  }
  &--light-orange {
    background-color: #fff1e6;
  }
  &--light-purple {
    background-color: #fbf4ff;
  }
  &--light-grey {
    background-color: #faf9f7;
  }
}

.grid-four .box__body {
  margin-bottom: 80px;
}