.boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
    grid-template-rows: repeat(3, auto) 250px auto;
    @media (min-width: 768px) {
      grid-template-columns: minmax(auto, 150px) minmax(auto, 180px) minmax(auto, 270px) minmax(auto, 150px);
      grid-template-areas: 
        "one two four five"
        "three three four five"
        "three three four six";
        grid-template-rows: auto;
      gap: 10px;
    }
    &-wrapper {
      margin-top: 30px;
      @media (min-width: 768px) {
        margin-top: 60px;
      }
    }
}